*, *::before, *::after{box-sizing: border-box;}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e272e, #34495e);
    color: white;
    padding: 2% 3%;
}

hr{
    color: white;
    opacity: 0.3;
}

.header-section{
    display: flex;
    align-items: start;
    margin-bottom: 12px;
}

.header-section .temperature{
    margin-left: auto;
    transform: translateX(-20px);
    font-size: 6rem;
    font-weight: 300;
}

.header-section .header-info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
}

.header-section .header-info #city-name-info{
    font-size: 2.5rem;
    font-weight: 400;
}

.header-section .header-info .high-low-div{
    display: flex;
    gap: 5px;
}

.header-section .header-info #current-day strong{
    font-size: 1.3rem;
    margin-right: 7px;
}

.input-div{
    transform: translateY(10px);
    margin-left: 30%;
}

.input-div #city-country-search{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    padding: 18px 10px;
    color: white;
}

.input-div #city-country-search::placeholder{
    opacity: 1;
    color: white;
}

.input-div #city-country-search:focus{
    outline: none;
}

.input-div #search-btn{
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.input-div #search-btn:hover{
    color: #1e272e;
    background: white;
}

/*weather info section*/

.weather-info-section{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    gap: 35px;
    overflow-x: auto;
    padding: 20px;
}

.weather-info-section .weather-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    gap: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/*days info*/

.weather-days-info{
    display: flex;
    margin-left: 20px;
    margin-top: 60px;
}

.weather-days-info .day-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 75%;
    font-size: 1.3rem;
}

